DJANGO_LOGLEVEL=INFO

# Рекомендуется заполнить для гарантии уникальности публикации.
# Можно сгенерировать, например, следующей командой:
# # Рекомендуется заполнить для гарантии уникальности публикации
DJANGO_SECRET_KEY=

# Если возникают проблемы со статикой, можно попробовать установить в "1"
DJANGO_DEBUG=0

# Адреса, разделённые запятой
DJANGO_ALLOWED_HOSTS=
