{% extends "base.html" %}

{% load cache %}

{% block title %}
    Shop Index
{% endblock %}

{% block body %}
    <h1>Shop Index</h1>
    <h2>Available pages</h2>

    <ol>
        {% for page in pages %}
            <li>
                <a href="{{ page.url }}">{{ page.title }}</a>
            </li>
        {% endfor %}
    </ol>

    <h2>Pages of other site sections</h2>

    <ol>
        {% for page in other_pages %}
            <li>
                <a href="{% url page.url %}">{{ page.title }}</a>
            </li>
        {% endfor %}
    </ol>

    <h2>Test pages</h2>

    <ol>
        {% for page in test_pages %}
            <li>
                <a href="{% url page.url %}">{{ page.title }}</a>
            </li>
        {% endfor %}
    </ol>

    <h2>Various information</h2>

    <div>
        Time running: {{ time_running }}
    </div>

    {% cache 100 lorem %}
        <div>
            {% lorem 3 p random %}
        </div>
    {% endcache %}
{% endblock %}