{% extends "Base.html" %}

{% block title %}
    Users list
{% endblock %}

{% block body %}
    <h1>Users list</h1>

    {% if object_list %}
        <hr>
    {% endif %}

    {% for user in object_list %}
        <p>Username: {{ user.username }}</p>
        <p>First name: {{ user.first_name }}</p>
        <p>Last name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>

        {% if user == request.user %}
            <p><a href="{% url 'myauth:about-me' %}">About me</a></p>
        {% else %}
            <p><a href="{% url 'myauth:user_detail' pk=user.pk %}">Details</a></p>
        {% endif %}

        <!-- Не по заданию. Переход к странице заказов пользователя в приложении ShopApp. -->
        <p><a href="{% url 'shopapp:user_orders_list' user_id=user.pk %}">Go to user's order list</a></p>
        <p><a href="{% url 'shopapp:user_orders_export' user_id=user.pk %}">Export user's orders to JSON</a></p>

        <hr>
    {% empty %}
        <h2>No users yet</h2>
    {% endfor %}
{% endblock %}